<h1>About Me</h1>
<p>Hello! My name's Adam Priest!</p>
<p>I'm an aspiring software engineer currently attending Flatiron School.</p>
<p>Originally from Buffalo, NY my family made their way to the small town of Thomasville, GA.</p>
